* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #f6f7fb;
  font-family: Pretendard, sans-serif;
}

.landing-page {
  min-height: 100vh;
}

/* 네비게이션 */

.landing-nav {
  height: 72px;
  background: white;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 60px;

  border-bottom: 1px solid #e5e7eb;
}

.logo {
  color: #4f46e5;
  font-size: 24px;
  font-weight: 800;
}

.landing-nav nav {
  display: flex;
  gap: 42px;
}

.landing-nav nav a {
  text-decoration: none;
  color: #111827;
  font-size: 15px;
  font-weight: 600;
}

/* 메인 배너 */

.hero-section {
  margin: 28px auto;
  width: 92%;

  background: #eef3ff;

  border-radius: 24px;

  padding: 60px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-text span {
  color: #4f46e5;
  font-size: 14px;
  font-weight: 700;
}

.hero-text h1 {
  margin: 16px 0;

  font-size: 58px;
  line-height: 1.2;

  color: #111827;
}

.hero-text h1 strong {
  color: #2563eb;
}

.hero-text p {
  color: #4b5563;
  line-height: 1.7;

  margin-bottom: 30px;
}

.hero-text button {
  width: 180px;
  height: 54px;

  border: none;
  border-radius: 12px;

  background: #2563eb;
  color: white;

  font-size: 15px;
  font-weight: 700;

  cursor: pointer;
}

.hero-image {
  font-size: 220px;
}

/* 메뉴 카드 */

.menu-section {
  width: 92%;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  gap: 20px;
}

.menu-box {
  background: white;

  border-radius: 18px;

  padding: 28px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  border: 1px solid #e5e7eb;
}

.menu-box h3 {
  margin: 0 0 10px;

  font-size: 20px;
  font-weight: 700;
}

.menu-box p {
  margin: 0;

  color: #6b7280;

  font-size: 14px;
  line-height: 1.5;
}

.menu-box span {
  font-size: 24px;
  color: #6b7280;
}

.icon {
  width: 70px;
  height: 70px;

  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 30px;
}

.blue {
  background: #dbeafe;
}

.purple {
  background: #ede9fe;
}

.green {
  background: #dcfce7;
}

/* 캠퍼스 지도 */

.map-preview {
  width: 92%;
  height: 280px;

  margin: 28px auto;

  position: relative;
  overflow: hidden;

  background: #eef2f7;

  border: 1px solid #e5e7eb;
  border-radius: 18px;
}

.map-card {
  position: absolute;

  top: 28px;
  left: 28px;

  width: 260px;
  height: 130px;

  background: white;

  border-radius: 16px;

  padding: 24px;

  z-index: 2;

  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

.map-card h3 {
  margin: 0 0 12px;

  font-size: 24px;
  font-weight: 800;

  color: #374151;
}

.map-card p {
  margin: 0;

  color: #4b5563;

  font-size: 15px;
  line-height: 1.6;
}

/* 푸터 */

.landing-footer {
  height: 80px;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  gap: 30px;

  padding-right: 60px;
}

.landing-footer a {
  text-decoration: none;

  color: #4b5563;

  font-size: 14px;
}